* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cont {
    width: 450px;
    height: 680px;
    background: rgb(252, 249, 249);
    margin: auto;
    border: 1.1px solid rgb(202, 202, 202);
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: inherit;
}

#inputtext {
    margin: 0px 5px 10px 5px;
    width: 92%;
    height: 21px;
    padding: 8px;
    color: rgb(36, 36, 36);
    font-size: 1em;
    font-weight: 500;
    border-radius: 3px;
    border: none;
    outline: none;
}

.heading {
    color: #f0eeee;
    padding: 10px;
    margin: 0;

}

.row {
    background: #0F2027;
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027);
    text-align: center;
}

.bodypart {
    padding-top: 20px;
}

li {
    list-style: none;
}

.item-list {
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    background: rgb(34, 30, 30);
    color: white;
    border-radius: 4px;
}

.del-btn {
    float: right;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
    outline: none;
    font-size: 1.1em;
}

.del-btn:hover {
    color: rgb(221, 0, 0);
    transition: all 0.4s ease-in-out;
}

.edit-btn {
    float: right;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
    outline: none;
    font-size: 1.2em;
}

.edit-btn:hover {
    color: yellow;
    transition: all 0.4s ease-in-out;
}

.itemtext {
    text-decoration: none;
    color: white;
}

.checkbox {
    width: 17px;
    height: 17px;
    margin-right: 12px;
}

.clearall {
    float: right;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.clearall:hover {
    color: rgb(113, 155, 247);
    transition: all 0.3s ease-in-out;
}

.taskdone {
    text-decoration: line-through;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #ffffff;
    margin: 200px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  #txtarea{
      width: 77%;
      padding: 5px;
  }

  #update-btn{
    background: blueviolet;
    height: 32px;
    width: 65px;
    color: white;
    font-weight: 500;
    outline: none;
    border:1px solid blue;
    cursor: pointer;
  }

  #update-btn:hover {
    background-color: rgb(170, 5, 82);
    transition: all 0.3s ease-in-out;
}